@import "reset";
@import "bourbon";
@import "neat";
@import "bitters/bitters";

body {
  background: #f8f8f8;
}

*, h1, h2, h3 { font-family: 'Roboto', 'Helvetica'; }

h1, h2, h3 { 
  margin: 24px 0;
  font-weight: bold;
}

h2 { color: #ea6147; }

li { margin: 0 0 12px; }

.container {
  @include outer-container;
  padding: 24px 0;
  margin: 0 auto;
  max-width: 1024px;
}

h1 { text-align: center; }
